* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
}

.container {
  max-width: auto;
  margin: 0 auto;
}

nav {

  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 12px;

}

nav a {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.container img {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.intro {

  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;

}

.intro h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.intro p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
}

.about {

  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.about h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.about p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
}

.meaning {

  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.meaning h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.meaning h2 {
  font-size: 24px;
  margin: 24px 0px;
}

.meaning p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
  background: rgb(11, 207, 221);
  color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}



button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

#engines-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.engine-card {
  background: #00bfff;
  color: #000;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.engine-card:hover {
  transform: translateY(-5px);
}

.coin-card {
  background: #cceeff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  width: 200px;
  margin: 10px;
  display: inline-block;
}

.coin-card img {
  width: 100%;
  border-radius: 10px;
  height: 140px;
}

.code-block {
  position: relative;
  background: #2d2d2d;
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
}

.copy-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #00b894;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s ease;
}

.copy-btn:hover {
  background: #019874;
}

.review {
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
}
.review h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
.review p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
}
.review form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 18px;
}
form input, form textarea{
    width:400px;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.review button {
    padding: 12px 25px;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
    background: #f0f0f0;
    color: #000;
    font-size: 16px;
    transition: 0.3s;
}

.review button:hover {
    opacity: 0.8;
}
.footer {
  margin-top: 40px;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  nav ul {
    flex-direction: row;
  }

  .container img {
    height: 100px;

  }

  th,
  td {
    font-size: 12px;
    padding: 3px -1px;
    border: 1px solid #ddd;
  }

  table {
    width: 300px;
    height: auto;
  }
  .review{
    padding: 8px;
  }
  .review form{
    gap:2px;
  }
  form input, form textarea{
    width:250px;
    padding: 8px;
    margin: 8px 0;
    font-size: 14px;
  }
  .footer {
    font-size: 12px;
    padding: 8px;
  }
}